<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.blog.dao.UserDao">

	<resultMap id="User" type="com.zero.blog.entity.User">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="nickname" property="nickname"/>
		<result column="created_time" property="createdTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>

	<!-- 用户的删除 -->
	<delete id="deleteObject">
		delete from t_user where id in
		<foreach collection="ids" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</delete>

	<!-- 用户的更新 -->
	<update id="updateObject">
		update t_user 
		set 
		username=#{username},
		password=#{password},
		nickname=#{nickname},
		update_time=now()
		where id=#{id}
	</update>

	<!-- 用户的新增 -->
	<insert id="insertObject">
		insert into t_user 
		(username,password,nickname,created_time,update_time)
		values
		(#{username},#{password},#{nickname},now(),now())
	</insert>

	<!-- 用户的条件查询 -->
	<select id="findObjects" resultMap="User">
		select 
		id,username,password,nickname,created_time,update_time 
		from t_user
		<include refid="queryWhere"/>
		order by created_time
		limit #{startIndex},#{pageSize}
	</select>
	
	<!-- 获取用户的总记录数 -->
	<select id="getRowCount" resultType="Integer">
		select count(*) from t_user
		<include refid="queryWhere"/>
	</select>
	
	<sql id="queryWhere">
		<where>
			<if test="username!=null and username!=''">
				username like concat("%",#{username},"%")
			</if>
		</where>
	</sql>
</mapper>