<div class="container">
    <h2 class="page-header"><span class="fa fa fa-pencil-square-o"> 新增博客</span></h2>
    <ul class="list-group">
            <form>
        <li class="list-group-item">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>文章标题</label>
                            <input type="email" class="form-control" placeholder="文章标题">
                        </div>
                        <div class="form-group">
                            <label>文章自定义路径</label>
                            <input type="email" class="form-control" placeholder="自定义路径,默认为id">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>文章标签</label>
                            <input type="password" class="form-control" placeholder="文章标签">
                        </div>
                        <div class="form-group">
                            <label>博客类别</label>
                            <select data-placeholder="请选择类别" class="form-control">
                                <option>游戏</option>
                                <option>八卦</option>
                                <option>演员</option>
                                <option>专业知识</option>
                                <option>新闻</option>
                            </select>
                        </div>
                    </div>
                </div>
                <textarea class="form-control" rows="10"></textarea>
                <div class="form-group">
                    <label>封面图片</label>
                    <input type="file">
                    <p class="help-block">请上传您喜欢的封面图片</p>
                </div>

        </li>
                <button type="submit" class="pull-right btn btn-primary btn-lg">发布博客</button>
            </form>
    </ul>
</div>