<div class="container">
    <h2 class="page-header"><span class="fa fa-heart nav-icon"> 新增链接</span></h2>
    <div class="row">
        <form action="">
            <div class="form-group">
                <label for="exampleInputEmail1">链接名称</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="链接名称">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">链接url</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="链接url">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">图片上传</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">请传入链接logo</p>
            </div>
            <button type="submit" class="btn btn-default">提交</button>
        </form>
    </div>
</div>
